.player {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time-control {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time-control input {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
}

.time-control input:focus {
  outline: none;
}

.time-control input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.time-control input::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

.time-control p {
  padding: 1rem;
}

.track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.animate-track {
  background: lightgray;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  pointer-events: none;
}

.play-control {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.play-control svg {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .time-control {
    width: 90%;
  }
  .play-control {
    width: 60%;
  }
}

.song-container {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.song-container img {
  width: 20%;
  min-width: 250px;
  border-radius: 50%;
}

.song-container h2 {
  padding: 3rem 1rem 1rem 1rem;
}

.song-container h3 {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .song-container img {
    width: 45%;
  }
}

.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 2px 2px 50px #c9c9c9;
          box-shadow: 2px 2px 50px #c9c9c9;
  overflow-y: scroll;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.library h2 {
  padding: 2rem;
}

.library-song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.library-song img {
  width: 30%;
}

.library-song:hover {
  background: #e7f7f7;
}

.song-description {
  padding-left: 1rem;
}

.song-description h3 {
  font-size: 1rem;
}

.song-description h4 {
  font-size: 0.7rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: #d8cbf5;
}

.selected:hover {
  background: #d8cbf5;
}

.active-library {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}

nav {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav button {
  background: white;
  outline: none;
  cursor: pointer;
  border: 2px solid #414141;
  color: #414141;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  -webkit-transition: all 0.25 ease;
  transition: all 0.25 ease;
}

nav button:hover {
  background: #414141;
  color: white;
}

.music-icon {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  nav button {
    z-index: 10;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
}

h1,
h2,
h3 {
  color: #323232;
}

h3,
h4 {
  font-weight: 400;
  color: #646464;
}

.App {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.library-active {
  padding-left: 30%;
}
/*# sourceMappingURL=app.css.map */